* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* FIRST SECTION */

#firstSection {
    background-image: url(./media/Rectangle-background.svg);
    background-position-x: center;
    background-repeat: no-repeat;

}

.firstSection-text-wrapper h1 {
    color: var(--White, #FFF);
    text-align: center;
    font-family: Oswald;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    max-width: 890px;

    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

.firstSection-text-wrapper p {
    color: var(--White, #FFF);
    text-align: center;
    font-family: Oswald;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    max-width: 734px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.conteiner-div-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-align: center;
    gap: 45px;
    background-color: white;
    align-items: center;
    max-width: 1155px;
    justify-content: center;
}

.conteiner-div-wrapper div {
    padding: 50px 50px 50px 50px;
}

.conteiner-div-wrapper h3 {
    max-width: 190px;
    color: var(--Accent, #F7654A);
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.conteiner-div-wrapper h4 {
    max-width: 190px;
    color: #000;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.conteiner-div-wrapper h5 {
    max-width: 190px;
    color: var(--gray, #999);
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* SECOND SECTION */

#secondSection {
    margin-bottom: 50px;
}
.second-section-wrapper-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.second-section-wrapper h2 {
    margin-top: 55px;
    text-align: center;
    margin-bottom: 55px;
}

.second-section-wrapper-block p {
    width: 100px;
}

.second-section-wrapper-block h6 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 142px;
}

.second-section-wrapper-block p {
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 350px;
}


/* threeSection */

#threeSection {
    background: var(--Accent, #F7654A);
    padding-top: 50px;
    padding-bottom: 50px;
}

.three-section-text-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1560px;
    margin-left: auto;
    margin-right: auto;
}

.three-text-wrapper {}

#threeSection button {
    border: none;
    border-radius: 10px;
    width: 175px;
    height: 50px;
    color: #000;
font-family: Oswald;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.7px;
}

.three-section-text-wrapper h2 {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
    width: 537px;
}

.three-section-text-wrapper p {
    padding: 15px 0px 15px 0px;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;

}

/* FOUR-SECTION */

#fourSection {}

.four-section-text-wrapper {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.four-section-content-wrapper {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.four-section-content-wrapper h6 {
    width: 351px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    margin: 25px auto 25px auto;
}

.content-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 118px;
}

.content-wrapper div {
    margin-top: 55px;
    text-align: center;
    background-color: #F7F7F7;

    padding: 20px 20px 20px 20px;
    width: 300px;
}

.content-wrapper p {
    margin-top: 25px;
    width: 172px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;

}

/* Five Section */

#fiveSection {}

.five-section-wrapper {}

.five-section-wrapper h2 {
    width: 351px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    margin: 100px auto 70px auto;
}



.five-section-second-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 39px 122px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   max-width:1159px;
    justify-content: center;

}

.five-section-second-wrapper div {
    width: 300px;
    background-color: #F7F7F7;
    padding: 20px 20px 20px 20px
}

.five-section-second-wrapper img {
    text-align: center;
}

.five-section-second-wrapper p {
    width: 172px;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 172px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
}

/* Six Section */

#sixSection {
    align-items: center;
    text-align: center;
}

#sixSection h2 {
    margin-top: 75px;
    margin-bottom: 50px;
}

.six-section-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}

.six-section-wrapper div {
    width: 225px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.six-section-wrapper img {
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.six-section-wrapper h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #999999;
}

.six-section-wrapper p {
    color: #000000;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
    width: 196px;
    margin-left: auto;
    margin-right: auto;
}

.six-section-wrapper :last-child p {
    color: #F7654A;
}